<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Carat Cuisine</title>
    <link rel="icon" href="logo.png" sizes="512x512" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="header">
      <div class="header_inner">
        <img src="./images/logo.png" alt="Carat Cuisine Logo" class="header_logo" />
        <h1 class="header_title">Carat Cuisine</h1>
      </div>
      <a id="menu" class="header_menu" hidden>☰</a>
      <nav id="drawer" class="nav">
        <ul class="nav_list">
          <li class="nav_item"><a href="#">Home</a></li>
          <li class="nav_item"><a href="#">Favorite</a></li>
          <li class="nav_item"><a href="https://www.linkedin.com/in/lussyanast/">About Us</a></li>
        </ul>
      </nav>
    </header>

    <div class="hero">
      <div class="hero_inner">
        <h1 class="hero_title">Welcome to Carat Cuisine</h1>
        <p class="hero_tagline">Find your favorite restaurant in one click</p>
        <button class="button" onclick="window.location.href='#posts'">See Restaurants</button>
      </div>
    </div>

    <main>
      <section class="content">
        <div class="explore">
          <h1 class="explore_label">Explore Restaurant</h1>
          <div class="posts"></div>
        </div>
      </section>
    </main>

    <footer class="footer">
      <p class="copyright">Copyright &copy; 2024 - Restaurant Apps</p>
    </footer>

    <script src="../scripts/index.js"></script>

  </body>
</html>
