<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carat Cuisine</title>
    <link rel="icon" href="./images/logo.png" sizes="512x512" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <a href="#main-content" class="skip-link">Skip to main content</a>

    <header class="header">

      <nav class="navbar">
        <div class="navbar-container container">

          <div id="hamburger-menu">
            <button class="hamburger-button"> ☰ </button>
            <div class="nav-links">
              <a href="/">Home</a>
              <a href="#">Favourite</a>
              <a href="https://www.linkedin.com/in/lussyanast/">About Us</a>
            </div>
          </div>
        </div>
      </nav>

      <nav id="drawer" class="nav" aria-hidden="true">
        <ul class="nav_list" id="myLinks">
          <li class="nav_item"><a href="/">Home</a></li>
          <li class="nav_item"><a href="#">Favourite</a></li>
          <li class="nav_item">
            <a href="https://www.linkedin.com/in/lussyanast/">About Us</a>
          </li>
        </ul>
      </nav>
      <div id="overlay"></div>    

      <div class="header_inner">
        <div class="header_logo">
          <img src="./images/logo.png" alt="Carat Cuisine Logo" />
          <h1 class="header_title">Carat Cuisine</h1>
        </div>
      </div>
    </header>

    <div class="hero" id="favorite">
      <div class="hero_inner">
        <h1 class="hero_title">Welcome to Carat Cuisine</h1>
        <p class="hero_tagline">Find your favorite restaurant in one click</p>
        <button class="button" onclick="window.location.href='#main-content'">
          See Restaurants
        </button>
      </div>
    </div>

    <main id="main-content">
      <section class="content">
        <div class="explore">
          <h1 class="explore_label">Explore Restaurant</h1>
          <div class="posts"></div>
        </div>
      </section>
    </main>

    <footer class="footer">
      <p class="copyright">Copyright &copy; 2024 - Restaurant Apps</p>
    </footer>

    <script src="../scripts/index.js"></script>
  </body>
</html>
