* {
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-size: 12px;
  background-color: white;
  color: #424242;
  padding: 0;
  margin: 0;
}

.header {
  min-height: 56px;
  padding: 16px 64px;
  display: grid;
  align-items: center;
  justify-content: space-between; 
  background: #F1B4BB;
  color: white;
  grid-template-columns: 1fr 1fr;
}

.header_inner {
  display: flex;
  align-items: center;
}

.header_logo {
  width: 50px;
  height: auto;
  margin-right: 20px;
}

.nav {
  display: flex;
  align-items: center; 
}

.nav_list {
  display: flex;
  gap: 0.5rem;
  margin-left: auto; 
}

.nav_item {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  font-size: 14px;
  color: #333;
}

.nav_item:hover {
  background-color: #FDF0F0;
  border-radius: 1rem;
}

.nav a {
  text-decoration: none;
  color: white;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 380px;
  width: 100%;
  text-align: center;
  background-image: url(../public/images/heros/hero-image_2.jpg);
  background-position: center;
}

.hero_inner {
  color: white;
  filter: none;
}

.hero_title {
  font-size: 64px;
}

.hero_tagline {
  font-size: 16px;
}

.button {
  display: inline-block;
  background-color: #F1B4BB;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 15px 32px;
  border-radius: 8px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #FDF0F0;
}

.content {
  padding: 32px;
}

.explore {
  width: 100%;
  margin: 60px auto;
}

.explore_label {
  font-size: 32px;
  font-weight: lighter;
  text-align: center;
}

.explore_label::after {
  content: '';
  margin-top: 16px;
  display: block;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.post-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.post-item_content {
  padding: 16px;
}

.post-item_city,
.post-item_title,
.post-item_description,
.post-item_rating {
  margin-bottom: 3px;
}

.post-item_thumbnail {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #000;
  color: #fff;
  padding: 8px;
  z-index: 9999;
}

.skip-link:focus {
  top: 0;
}

.footer {
  padding: 16px 64px;
  background: #F1B4BB;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .header_inner {
    padding: 10px; 
  }

  .header_logo {
    width: 40px; 
    margin-right: 10px; 
  }

  .header_title {
    font-size: 24px; 
  }

  .nav_item {
    padding: 8px;
    font-size: 12px; 
  }

  .hero_title {
    font-size: 48px
  }
}